@tailwind base;
@tailwind components;
@tailwind utilities;



.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.rubik-glitch-regular {
  font-family: "Rubik Glitch", serif;
  font-weight: 400;
  font-style: normal;
}

